body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  font-family: "monospace";
}
button {
  outline: none;
  height: 60px;
  width: 160px;
  border-radius: 50px;
  border: 3px solid white;
  background: none;
  letter-spacing: 4px;
  font-weight: bolder;
  color: white;
  padding: 14px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.4, 0.47, 0, 1, 93);
  margin: 5px;
  display: inline-block;
}
/* button hover  */
button:nth-child(1):hover {
  box-shadow:
    0px 0px 55px white,
    0px 0px 55px white inset;
  box-shadow: 0px 0px 55px white;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
button:nth-child(2):hover {
  color: red;
  border-color: red;
  box-shadow:
    0px 0px 125px red,
    0px 0px 125px red inset;
  box-shadow: 0px 0px 125px red;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
button:nth-child(3):hover {
  color: blue;
  border-color: blue;
  box-shadow:
    0px 0px 25px blue,
    0px 0px 15px blue inset;
  box-shadow: 0px 0px 25px blue;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
button:nth-child(4):hover {
  color: rgb(19, 255, 19);
  border-color: rgb(19, 255, 19);
  box-shadow:
    0px 0px 15px rgb(19, 255, 19),
    0px 0px 25px rgb(19, 255, 19) inset;
  box-shadow: 0px 0px 45px rgb(19, 255, 19);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
button:nth-child(5):hover {
  color: yellow;
  border-color: yellow;
  box-shadow:
    0px 0px 25px yellow,
    0px 0px 15px yellow inset;
  box-shadow: 0px 0px 25px yellow;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
button:nth-child(6):hover {
  color: aqua;
  border-color: aqua;
  box-shadow:
    0px 0px 25px aqua,
    0px 0px 15px aqua inset;
  box-shadow: 0px 0px 25px aqua;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
button:nth-child(7):hover {
  color: blueviolet;
  border-color: blueviolet;
  box-shadow:
    0px 0px 25px blueviolet,
    0px 0px 15px blueviolet inset;
  box-shadow: 0px 0px 25px blueviolet;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
