* {
    text-decoration: none;    
}
html {
  scroll-behavior: smooth;
}
h2 {
    text-align: center;
    color: #349e4e; 
    font-size: 1.5rem;
}


.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.beiruti-<uniquifier> {
  font-family: "Beiruti", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}





body {
  /*   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  */
      font-family: 'Beiruti';
      background: #1d3e46 ; /* background color */
    margin: 0;
    padding: 0;     
    }   
    
    
    
header {
    background: #0A9A8A; /* header : navbar color */
    color: #e7fae8; /* fonts color */
    padding: 6px 15px;
    text-align: center;
    height: 85px;
    } 
.head {
    display: flex;
    text-align: center;
    justify-content: space-between;
}     
.navbar {
    display: flex;            
    font-size: 1.4rem;        
    justify-content: space-between;            
    }
.navbar h1 {
    color: #0b533b;
    font-size: 1.7rem;
    font-family: 'Fjalla+One';
    }
.navbar i {
    padding-left: 3px;            
    font-size: 1.6rem;
    color: #C2E5EF;
    }
.fa-leaf {
    padding-right: 8px;
    font-size: 1.5rem;
}
.login {
    cursor: pointer;
    background-color: #408090;
    border-radius: 15px;
    padding: 0.7rem;  
    margin-left: 15px;
    color: white;
    }
.login:hover {
    background-color: #0b533b;
    }        
.links {
    display: flex;
    align-items: center;            
    padding: 5px 12px;
    justify-content: space-around;
    align-items: center;
    margin-right: 2px;
    color: #C2E5EF;  
    }
.links a{
    text-transform: uppercase;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    }
.fa-bars {
    display: none;
}





.hero-big img, .hero-big{
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 12px;
    display: block;
    margin-right: 5px;
   }
   .section {
      padding: 0px;
    }
.card-container, .ads-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 20px;
      overflow-x: auto;
    }
.cards, .ads-card {
      background: #4B63852;
      padding: 25px;
      border-radius: 0px 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.7);
    }
.cards img {
      width: 250px;
      border-radius: 10px;
    }
.cards h3 {
      margin: 10px 0 5px;
      text-align: center;
    }
.cards p {
      color: green;
      text-align: center;
    }
.card-slider {
      display: flex;
      overflow-x: auto; /* හැරෙන්න දෙනවා හරහා */
      gap: 1.5rem;
      scroll-snap-type: x mandatory;
      padding: 1rem;
      scroll-behavior: smooth;
    }
.card-slider::-webkit-scrollbar, .w-cards::-webkit-scrollbar {
  height: 8px;
}
.card-slider::-webkit-scrollbar-thumb, .w-cards::-webkit-scrollbar-thumb {
  background-color: #349e4e;
  border-radius: 4px;
}
.card {
      flex: 0 0 200px; /* card එකක width */
      background: #b7dbc8;
      border-radius: 12px 0;
      padding: 0.4rem;
      scroll-snap-align: start;
      box-shadow: 0 5px 10px rgba(0,0,0,0.7);
    }
    
    .home-container {
    display: flex;
    justify-content: space-between;    
    padding: 10px;
    background-color: transparent;
    margin: 0 12px;
}
.left-parts, .right-parts {
    width: 48%;
    padding: 10px;
    border-radius: 5px 0;
    margin: 0;
    background-color: transparent;
}
.left-parts h2 {
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    }
.left-parts p{
    text-align: left;
    color: #C2E5EF;
}
.hero-big img{
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 12px;
    display: block;
    margin-right: 5px;
   }
#herop {
    font-size: 1.2rem;
    margin: 0 12px;
    padding: 5px 12px;
    text-align: justify;
    display: none;
    width: 95%;
    color: #C2E5EF;
    background-color: #1F4E6C;
    }
.left-btn {
    width: 50%;
    justify-content: center;
    color: black;
}   


.market-form, .qa-section {
      background: #4B6382;
      padding: 10px;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
      margin: 5px;
    }
input, textarea, button {
      width: 95%;
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;      
      color: black;
    }
button {
    background: #47ff40;
    color: black;
}
.market-container, .qa-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.left-part, .right-part, .qa-left-part, .qa-right-part{
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  margin: 5px ;
  display: block;
  background-color: transparent;
}
.btn {
    
    color: black;
}    
.left-part, .right-part, .qa-right-part{
    background: #4B6382;
}
.left-part, .right-part {
    display: block;
}
.market-container h2, .market-container h3 {
    text-align: center;
    color: #349e4e; 
    font-size: 1.2rem;
}
.container-btn {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  color: black;
}
.btns {
    width: 200px;
    color: black;
}
.btn-left-part, .btn-right-part {
    margin: 10px;
}

.footer {
        background-color: #131F2F;   /* #0A9A8A */        
        padding: 10px;
        margin-bottom: 10px;
        position: fixed;
        height: auto;            
        }
footer p{
        text-align: center;
        font-size: 1.2rem;
        color: #e7fae8;
        }        
.footer-section {
        display: flex;
        justify-content: space-around;
        margin: 10px 0px 0px 0px;
        padding: 18px 10px 0px 10px;
        font-size: 1.3rem;
        color: white; 
        background-color: #131F2F;
        }
 .social-media a {
        display: block;           
        padding: 0 12px 3px 12px;
        color: #e7fae8;            
        gap: 30px;   
        font-size: 1.2rem;         
        text-decoration: none;
        align-itmes: center;
        }
.legal a{
        display: block;
        font-size: 1.2rem;
        padding:  2px 12px;
        color: #e7fae8;
        text-decoration: none;
        }
 .reserved {
        display: block;
        font-size: 1.2rem;
        color: #e7fae8;         
        }
.footer-section i {
        padding-right: 20px;
        font-size: 1.2rem;
        }
.contact-info p{
        font-size: 1.2rem;
        color: #e7fae8;
        }
        
.facebook {color: blue;}
.youtube {color: red;}
.instagram {color: purple}
.whatsapp {color: green;}



.lcm-logo {
    width: 4rem;
    padding: 0;margin: 0;
}             