* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(0, 84, 95);
}
#counter {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
}
#counterDisplay {
  font-size: 4rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
#counter button {
  border: 0;
  padding: 1rem auto;
  width: 70px;
  height: 70px;
  font-size: 3rem;
  cursor: pointer;
  color: white;
  border-radius: 6px;
}
#counterAdd {
  background-color: rgb(0, 255, 98);
}
#counterSub {
  background-color: rgb(123, 159, 255);
}
