* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
button {
  width: 100px;
  padding: 10px;
  margin: 10px 6px;
  font-size: 20px;
  background-color: #ff5e00;
  color: white;
  border-radius: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  outline: none;
}

.column {
  float: left;
  width: 50%;
  padding: 16px;
  margin: 6px 1rem;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgb(206, 206, 206);
}

.column:nth-child(1) {
  background-color: rgb(143, 23, 255);
}
.column:nth-child(2) {
  background-color: rgb(194, 129, 255);
}
.column:nth-child(3) {
  background-color: rgb(209, 160, 255);
}
.column:nth-child(4) {
  background-color: rgb(238, 221, 255);
}

.row::after {
  content: "";
  display: table;
  clear: both;
  margin: 0 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
